.slider{
    width: 350px;
    height: 200px;
    position: relative;
}

.slider  img{
    margin: 0px 65%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px 3px grey;
    border: 5px solid black;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    opacity: 0;
}

.slider  .onDisplay{
    opacity: 1;
}

.stopBtn{
    position: relative;
    width: 90%;
}

.stop{
    position: absolute;
    text-align: center;
    background: red;
    left: 45%;
    border-radius: 8px;
    cursor: pointer;
    padding: 15px 40px;
}

section {
    display: block;
}

section#imgText ul {
list-style-type: none;
}

#imgText li {
float: left;
width: 32%;
}

#imgText li:nth-child(2) {
margin: 0 2%;
}

#imgText p {
text-align: center;
width: 80%;
display: none;
margin: 0 10%;
font-size: 14px;
color: #888;
line-height: 1.4em;
}